html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
    width: auto;
}

body {
    width: 5000px;
    overflow: scroll;
}

.panel {
    background: white;
    padding: 0.556em;
}

a, a:hover, a:active {
    text-decoration: none;
    color: black;
}
